<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="LogDir" value=".\LogBackUp"/>
  <variable name="LogDay" value="${date:format=yyyyMMdd}"/>
  <targets>
    <target name="LogTarget1" xsi:type="File" fileName="${LogDay}.log" encoding="utf-8"
        maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/(LogDay){#######}.a" />


      <target name="filelog"
              xsi:type="File"
              FileName="${basedir}/log.txt"
              layout="${longdate} ${message}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Archives/log.{#}.txt"
              archiveNumbering="Date"
              archiveDateFormat="yyyy-MM-dd"
              maxArchiveFiles="3"
              keepFileOpen="false"
              encoding="iso-8859-2" />
    
  </targets>
  <rules>
    <logger name="AppLog" writeTo="LogTarget1" />
    <logger name="AppLogDate" writeTo="filelog" />
  </rules>
</nlog>